#board {
    display: flex;
    /* justify-content: space-around; */
    
} 

.category {
    border-left: 1px solid #ece9f2;
    /* border-bottom: 1px solid #ece9f2; */
    padding: 30px 10px 0 10px;
    width: calc(100vw/3);
    height: 100vh;
}

/* .category:last-of-type {
    border-right: 1px solid #ece9f2;
} */