.category-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    padding: 10px 10px 7px 11px;
    margin-top: 10px;
}

.task-form {
    display: flex;
    flex-direction: column;
}



